/* Put your custom CSS here */

#loginform{
	width:20%;
	min-width:150px;
	margin:0 auto;
}

.contactdiv{
	width:100%;
	margin:0 auto;
	text-align:center;
}

td, th{
	padding-left:10px;
	padding-right:10px;
	font-size:12px;
}